html {
    box-sizing: border-box;
    color: #333;
}
@font-face {
    font-family: 'GothamPro-Black';
    src: url('../fonts/gothampro-black.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gothampro-black-1.eot') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gothampro-black.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gothampro-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gothampro-black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gothampro-black.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url('../fonts/gothampro-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gothampro-bold-1.eot') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gothampro-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gothampro-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gothampro-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gothampro-bold.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../fonts/gothampro-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gothampro-medium-1.eot') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gothampro-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gothampro-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gothampro-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gothampro-medium.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'GothamPro-Light';
    src: url('../fonts/gothampro-light.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/gothampro-light-1.eot') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/gothampro-light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/gothampro-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gothampro-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gothampro-light.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Rimma_sans-Bold';
    src: url('../fonts/RIMMA_SANS-BOLD.TTF');
    url('../fonts/RIMMA_SANS-BOLD.TTF');
}

.stacked-radial {
    background: linear-gradient(to right, rgb(212, 232, 255), rgb(196, 241, 255)),
    linear-gradient(rgb(145, 253, 247) 25%, rgb(0, 97, 255) 75%, rgb(253, 255, 151) 15%);
}

body{
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 4px 8px 4px 8px #0061FF;
}
ul, a, h2, svg, img {
    margin:0;
    padding:0;
    text-decoration:none!important;
    list-style:none;
}

li {
    height: 100%;
    padding:0;
    margin:0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

h1, h2, h3 {
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'GothamPro-Medium', serif;
}

p {
    font-family: 'GothamPro-Medium', serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.offcanvas{
    width:75% !important;
    max-width: 1000px !important;
}

.offcanvas.offcanvas-{position}{
    width: 75% !important;
    max-width: 990px !important;
}

.progr-head{
    background: #0061FF;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.progr-head h1{
    line-height: 95%;
    font-style: normal;
}
.progr-head p{
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}
.progr-data p, .post{
    font-size: 0.9em!important;
    font-family: 'GothamPro-Light', serif;
}
.progr-data p{
    color: white;
}
.hint{
    font-family: 'GothamPro-Medium', serif;
    font-size: 0.8em;
    color: rgba(51, 51, 51, 0.6);
}

.float-but{
    width:146px;
    height:146px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 1000;
    cursor: pointer;
}

.float-but:hover{
    filter: drop-shadow(0 0 16px #ffffff);
    border-width: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    border-radius: 30px!important;
    cursor: pointer;
    transition: all 0.4s ease-out, all 0.3s ease-in;
    -webkit-transition: all 0.4s ease-out, all 0.3s ease-in;
}

.b-close{
    opacity: 75%;
    z-index: 100;
}
.b-close:hover{
    opacity: 100%;
}
.border-16{
    border-radius: 16px;
}
.offcanvas-body h2{
    color: #222;
    font-family: 'GothamPro-Medium', serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.all h2{
    color: #222;
    font-family: 'GothamPro-Medium', serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.name-user, #program-content .txt-tab, .lab h2{
    font-size: 0.9em!important;
}
/*#min .name{*/
/*    max-width: min-content!important;*/
/*}*/
#min .card-default{
    min-width: 274px;
}
.nav-pills .nav-link{
    border-radius: 30px!important;
}
.nav-pills .nav-link.active{
    background-color: #0061FF!important;
}
.txt-body p{
    font-family: 'GothamPro-Light', serif!important;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 130%!important;
}
.txt-body ul{
    text-decoration: none;
    list-style: initial!important;
}
.txt-body{
    font-family: 'GothamPro-Light', serif!important;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
#list-program .txt-body{
    font-size: 1.0em;
    margin: 0;
}
.contact{
    font-family: 'GothamPro-Light', serif;
}
.f-medium{
    font-family: 'GothamPro-Medium', serif!important;
}
#social-link svg, #social img{
    width: 3.5em;
}
#program-content a, .card-header-calc a{
    border: none;
}
.card-header-calc{
    border: 0;
}
.list-subprog .card-header-calc:hover, .list-subprog .card-header-calc:active{
    background: rgba(223, 243, 255, 0.92)!important;
    border: none!important;
}

.desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5!important;
    box-orient: vertical;
    max-height: 7em;
}
.lab h2{
    color: #0061FF;
}
.lab p{
    font-size: 0.9em!important;
    font-family: 'GothamPro-Light', serif;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.blue{
    font-family: 'GothamPro-Medium', serif!important;
}
.blue-text{
    color: #0061FF;
}
.card-default-calc{
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.5);
}
.card-default-calc:hover{
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease-in-out;
}
.card-header-calc{
    border-radius: 30px!important;
    background: rgba(255, 255, 255, 0.5) !important;
}
.card-default{
    border-radius: 30px;
    background: #F6F9FF;
}
.card-default:hover{
    background: #e2f0ff!important;
    transition: all 0.2s ease-in-out;
}
.card-default-blue{
    background: #0061FF;
    color: white!important;
    border-radius: 30px;
}
.card-default-blue h2{
    color: white;
}
.card-default-blue:hover{
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}
#documents .card-default:hover, #partners .card-default:hover{
    background: #ffffff !important;
    transition: all 0.2s ease-in-out;
}
.subtitle{
    font-size: 0.8em;
}
.prog-name{
    font-family: 'GothamPro-Medium', serif!important;
    padding: 0;
    font-size: 0.9em;
}
.first-title{
    color: #333333;
    font-size: 3.5em;
    padding-top: 12px;
    font-family: Rimma_sans-Bold, serif;
    font-feature-settings: 'ss07' on, 'ss04' on;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

#main{
    border-radius: 0 0 30px 30px;
    background: linear-gradient(152deg, #ECF3FF -0.72%, rgba(236, 249, 255, 0.63) 43.56%, rgba(255, 255, 255, 0.40) 82.56%);
}
.level a{
    background: #fff0;
    color: #0d6efd;
    border: none;
    padding: 0;
    font-size: 3em;
    font-family: Rimma_sans-Bold, serif;
}
.level a:hover{
    background: #fff0;
    color: #0d6efd;
    border: none;
}
.level ul{
    width: -webkit-fill-available;
}
.level ul, .filter ul{
    border-radius: 30px;
    background: rgba(246, 249, 255, 1);
    border: none;
}
.level li a, .filter li a{
    background: #fff0;
    color: #0d6efd;
    border: none;
    padding: 0.5em 1em;
    border-radius: 30px;
    font-size: 1em;
    font-family: 'GothamPro-Medium', serif
}
.level li a:hover, .filter li a:hover{
    background: rgba(212, 232, 255, 0.75);
    border-radius: 30px;
}
.form-control{
    border: none!important;
    border-radius: 30px!important;
}
.delete{
    background: rgba(255, 255, 255, 0) !important;
    color: #333333!important;
}
.delete:hover{
    background: #FF577E!important;
    /*color: white!important;*/
}
#main button{
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 30px;
    font-family: 'GothamPro-Medium', serif
}
#main button:hover{
    background: #005de8;
}
.level .dropdown-toggle:hover{
    color: #005de8;
}
.filter a{
    border: none;
    background: #ffffff;
    color: #333333;
    border-radius: 30px;
    font-size: 0.9em;
    font-family: 'GothamPro-Medium', serif
}
.filter .btn:hover {
    color: white;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.filter .dropdown-toggle::after {
    display: none !important;
}
.top-title-prog, #institute h2, #specificity .name{
    font-size: 1em!important;
    font-family: 'GothamPro-Medium', serif
}
#institute svg{
    width: 1.8em;
    height: 1.8em;
}
.carousel-indicators{
    background: rgba(255, 255, 255, 0.65);
    border-radius: 30px;
}
.nav-item:hover{
    background: rgb(255, 255, 255);
    border-radius: 30px;
}
.social-icon:hover{
    opacity: 0.7;
}
.contact-icon:hover{
    background: color(srgb 0.9668 0.9768 0.9982);
       border-radius: 30px;
    height: auto;
}
@media (max-width: 575px) {
    .offcanvas{
        width:100% !important;
    }
    .pt-small{
        padding-top: 0.3em !important;
    }
    .offcanvas.offcanvas-{position}{
        width:100% !important;
    }

    .contact{
        font-size: 0.7em;
    }
    #contacts svg{
        margin: 0!important;
        width: 2.0em;
    }
    /* #contacts img{
        width: 2.8em;
        height: 2.8em;
    } */
    .post{
        font-size: 0.7em!important;
    }
    .name-user, .subtitle, #specificity .name{
        font-size: 0.8em!important;
    }
    #institute h2{
        font-size: 1.0em!important;
    }
    #institute svg{
        width: 2em;
        height: 2em;
    }
    #numbers .card-default, .card-default-blue{
        border-radius: 15px;
    }
    .level a{
        font-size: 1.5em;
    }
    .first-title{
        font-size: 2em;
    }
}
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
    .offcanvas{
        width:100% !important;
    }

    .offcanvas.offcanvas-{position}{
        width:100% !important;
    }
    .level a{
        font-size: 2em;
    }
    .first-title{
        font-size: 3em;
    }
}
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .offcanvas{
        width:100% !important;
    }

    .offcanvas.offcanvas-{position}{
        width:100% !important;
    }
}
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    .offcanvas{
        width:85% !important;
    }

    .offcanvas.offcanvas-{position}{
        width:85% !important;
    }
}
/* xl (>=1200) */
@media (min-width: 1200px) {
}

.professional-exam{
    border-radius: 30px;
    background: rgba(0, 97, 255, 0.1);
    color: #333333!important;
    border: none!important;
}
.common-exam{
    border-radius: 30px;
    background: rgba(0, 255, 51, 0.1);
    color: #333333!important;
    border: none!important;
}
.common-back{
    background: rgba(21, 224, 62, 0.66);
}
#min .btn.active, .btn{
    border: none!important;
}
.contacts{
    font-size: 0.8em;
    font-family: 'GothamPro-Medium', serif!important;
    color: white!important;
    float: left;
}
#contacts .contacts{
    background: #e0eaff;
    color: #333333!important;
}
.img-responsive{
    width: 100% !important;
    height: auto;
    object-fit: cover;
    object-position: center;
}

/* .common-exam .start-100 {
    left: 95% !important;
}

.common-exam .top-0 {
    top: -12% !important;
} */


/* Фикс бага с отсутствием переноса текста в .dropdown.level */

.dropdown-toggle.mb-3 {
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.no-wrap {
    white-space: nowrap; /* Запрещаем перенос текста */
}

.no-wrap::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle::after {display: none !important;}

/* Фильтр checkbox'ы */

.dropdown-item {
    background: #fff0;
    color: #0d6efd;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-family: 'GothamPro-Medium', serif;
    padding: 0.5em 1em;
}

.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}

.dropdown-filter-item > label {
    color: #0d6efd;
}

.dropdown-filter-item:active > label {
    color: var(--bs-dropdown-link-active-color);
}

.carousel-item img{
    height: 22em!important;
}
.blur{
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(32px);
}
#noResultsMessage {
    color: #333333;
    font-family: 'GothamPro-Medium', serif;
    margin: 20px 0px;
}

.dropdown-filter-item .dropdown-item {
    white-space: normal;
    text-transform: capitalize;
}
/*share float button*/
.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 35%;
    background-color: #0d6efd;
}
.fab-container:hover {
    background-color: #0d6efd;
    border-radius: 50%;
    transition: all .3s ease;
}
.fab {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #0d6efd;
    border-radius: 50%;
    z-index: 2;
}
.modal-content{
    border-radius: 30px!important;
}
.modal .form-control{
    background: #eef6ff!important;
}
#copyButton{
    background: #0d6efd;
    color: white;
    border: none;
    border-radius: 1em;
    font-family: 'GothamPro-Medium', serif
}
#copyButton:hover{
    background: #005de8;
}
#copyButton2{
    background: #00CC34;
    color: white;
    border: none;
    border-radius: 1em;
    font-family: 'GothamPro-Medium', serif
}
.modal {
    position: absolute !important;
}