.link-to-white:hover{
    color: #0b5ed7!important;
}
.link-to-blue:hover{
    opacity: 0.7!important;
}
.txt-small{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
footer li{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    list-style:none;
    font-family: 'GothamPro-Light', serif;
    text-decoration-line: none;
    text-decoration-color: #333;
}
footer a{
    font-family: 'GothamPro-Medium', serif;
}
footer p{
    font-family: 'GothamPro-Light', serif;
}
footer{
    background: #003666;
    color: white;
    font-family: 'GothamPro-Medium', serif;
}
footer .logo{
    width: 2em;
}
@media (max-width: 350px) {
 .menu-box li{
        text-align: start;
        padding: 12px 0;
    }
    .nav-link-top{
        border: none!important;
    }
    .nav-link-top:hover{
        border: none!important;
        border-radius: 0;
        transition: all 0.2s ease-in-out;
    }
    .nav-item:hover{
        background: #EEF6FFFF;
        transition: all 0.2s ease-in-out;
    }
    .title-site img{
        height: 0.7em!important;
    }
}
@media (min-width: 351px) and (max-width: 575px) {
    .sm-main{
        display: block;
        position: absolute;
        left: 55%;
        top: 40px;
    }
    .menu-box li{
        text-align: start;
        padding: 12px 0;
    }
    .nav-link-top{
        border:none!important;
    }
    .nav-link-top:hover{
        border: none!important;
        border-radius: 0;
        transition: all 0.2s ease-in-out;
    }
    .nav-item:hover{
        background: #EEF6FFFF;
        transition: all 0.2s ease-in-out;
    }
    .btn-open{
        width: 28px;
        margin-right: 0;
    }
    .title-site img{
        height: 0.7em!important;
    }
}
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
    .menu-box li{
        text-align: start;
        padding: 12px 0;
    }
    .nav-link-top{
        border: none!important;
    }
    .nav-link-top:hover{
        border: none!important;
        border-radius: 0;
        transition: all 0.2s ease-in-out;
    }
    .nav-item:hover{
        background: #EEF6FFFF;
        transition: all 0.2s ease-in-out;
    }
    .btn-open{
        width: 28px;
        margin-right: 0;
    }
}
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-box li{
        text-align: start;
        padding: 12px 0;
    }
    .nav-link-top{
        border: none!important;
    }
    .nav-link-top:hover{
        border: none!important;
        border-radius: 0;
        transition: all 0.2s ease-in-out;
    }
    .nav-item:hover{
        background: #EEF6FFFF;
        transition: all 0.2s ease-in-out;
    }
    .nav-link-top:hover, .item-active:hover{
        border: none!important;
    }
}
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    .all-width{
        width: 48% !important;
    }
    .menu-box li{
        text-align: start;
        padding: 12px 0;
    }
    .nav-link-top{
        border-bottom: none!important;
    }
    .nav-link-top:hover{
        border-bottom: none!important;
        border-radius: 0;
        transition: all 0.2s ease-in-out;
    }
    .nav-item:hover{
        background: #EEF6FFFF;
        transition: all 0.2s ease-in-out;
    }
    .sm-main{
        display: none;
    }
    .nav-link-top:hover, .item-active:hover{
        border: none;
    }
}
/* xl (>=1200) */
@media (min-width: 1200px) {
    .all-width{
        width: 48% !important;
    }
    .sm-main{
        display: none;
    }
    .navbar-expand-xl .navbar-collapse {
        padding: 0 12px;
    }
}

/*header*/
.guap-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.menu-item {
    font-family: GothamPro-Medium, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
}
.menu-item a{
    color: #333333;
    font-family: GothamPro-Medium, serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-item a:hover{
    
    color: #005aaa;
    font-family: GothamPro-Medium, serif;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-link-top{
    border-bottom: 4px solid rgba(0, 90, 170, 0);
    
}

.nav-link-top:hover{
 
    border-bottom: 4px solid #333333;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    
}

.item-active{
   
    border-bottom: 4px solid #333333;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    background: #EEF6FFFF;
}



.nav-link-top-active{
    
    border-bottom: 4px solid #333333!important;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    background: #EEF6FFFF;
}

/* новый */
.navbar-nav .nav-link.active {
    color: #005aaa;
    font-weight: 700;
    border-bottom: 4px solid #333333!important;
    /* background-color: #8cc9ff; */
    cursor: default;
}


.btn-open{
    position: fixed;
    top: 8px;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    display: block;
    z-index: 1000;
    cursor: pointer;
    border: 0;
    background: #fff;
}
.navbar-toggler a{
    width: 100%;
}
.list-group-horizontal-xl a{
    color: #333333;
    font-family: GothamPro-Medium, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.a-first {
    border-radius: 30px;
}
.a-first span{
    color: #333333;
}
.a-first:hover{
    background: #EEF6FFFF;
    color: #333333;
    transition: all 0.2s ease-in-out;
}

.menu_btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.menu_btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #333333;
    transition: all 0.3s ease-in-out;
}

.menu_btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

.menu_btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu_btn.active .bar:nth-of-type(1) {
    display: none;
}

.menu_btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu_btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}